#canvas {
	border: 2px solid;
	border-radius: 12px;
	margin: 4px;
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}

.titleDiv {
	text-align: center;
	order: 2;
}

.bodyDiv {
	order: 3;
}
